*{
    margin: 0px;
    padding: 0px;
}
body{
    color: #ffffff;
    background-color: #000000;
    border: 1px solid grey;
}
#nav_bar{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.first{
    display: flex;
    justify-content: space-evenly;
    padding-top: 5px;
    flex-wrap: wrap;
}
.third{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.third.unlimited{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.f{
    padding-left: 5px;
    padding-right: 5px;
}
.varieties{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.themes{
    font-size: 15px;
    font-family:'Times New Roman', Times, serif;
    font: bold;
    padding-bottom:10px;
}
.disney{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
#images{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.imagese{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
#other{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
}
.insider{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.Endgame{
    text-align: center;
}
#end{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
#finally{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
